

footer{
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    background: gray;
    padding: 10px 0 0 10px;  
    width:100%;
    height: 100px;
    bottom: 0;
    left: 0;
    position: float;
    margin-top:50px;
}


footer a{
    margin:30px;
    text-decoration: none;
    text-align: center;    
    color: blue;    
}


footer p{
    margin-top: 10px;
    font-size: 15px;
    padding: 10px 0 0 10px;    
}


.copyright{
    text-align: center;
}


@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }
}