main{
    width: 940px;
    margin: 0 auto;
}


form{
    margin: 40px;
}


form label, form legend {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    width: 50%;
}


.checkbox{
    margin: 20px 0;
}


fieldset{
    border:none;
}


.enviar{
    width: 30%;
    background: gray;
    font-size: 18px;
    font-weight: bold;
    border-radius:2px;
    margin-left: 30%;
}
.enviar:hover{
    background: lightgray;
    cursor:pointer;
    transition: 1s;
    transform:scale(1.1)
}
